$DarkBlue1: #1c2431;
$DarkBlue2: #181f2a;
$DarkBlue3: #0b1523;
$DarkBlue4: #202a3c;
$Cyan: #65e2d9;
$Blue: #339ecc;
$LightRed: #ff4242;
$White: #fff;

@mixin Raleway {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  border: none;
  color: $White;
  border-radius: 5em;
}
@mixin Margin0 {
  margin: 0 auto;
}

body,
.depositions section h4,
.depositions section h4 + p,
footer .itemsFooter p,
footer .itemsFooter ul {
  margin: 0;
}
.illustrationIntro,
.illustrationStay {
  width: 40%;
}
body {
  background: $DarkBlue1;
}
body,
button,
input {
  @include Raleway();
}
p,
.depositions section h4 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
header,
header p,
h1,
.elements,
aside,
.iconsInfor article {
  text-align: center;
}
header,
header p,
h1 {
  display: block;
  margin: 1em auto;
}
nav,
nav ul,
.elements,
.stayProductive,
.depositions section > p + article,
.depositions,
form > article,
form,
footer section > section,
footer article:has(ul),
.socialMedia,
.location,
.iconsInfor article {
  display: flex;
}
ul {
  list-style: none;
}
nav {
  justify-content: space-around;
  margin: 5em 0;

  img {
    object-fit: contain;
  }
  li {
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin-right: 3em;
    }
  }
}
h1 {
  max-width: 17em;
  line-height: 1.5em;
  font-size: 2.5em;

  & + p {
    max-width: 30em;
    font-size: 1.2em;
    margin-bottom: 2em;
  }
}
button,
li {
  cursor: pointer;
}
button {
  font-weight: 700;
  background: linear-gradient(to left, $Blue, $Cyan);
  font-size: 1em;

  &:hover {
    background: linear-gradient(
      to left,
      lighten($Blue, 15),
      lighten($Cyan, 15)
    );
  }
}
header button {
  padding: 1em 6em;
}
aside button {
  padding: 1em 3em;
}
main,
.depositions,
.asideFoo {
  position: relative;
}
main {
  padding-bottom: 5em;
  background: #181f2b;
}
.curvy,
.quotes,
aside {
  position: absolute;
}
.curvy {
  width: 100%;
  top: -22em;
  z-index: -1;
  overflow: hidden;
}
.elements,
.link,
.stayProductive,
.depositions section article {
  align-items: center;
}
form,
.elements,
.depositions,
aside {
  justify-content: center;
}
.elements {
  margin: 10em 10%;
  gap: 5em;
  flex-wrap: wrap;

  p {
    font-size: 0.9em;
    max-width: 26em;
  }
}
a {
  color: $Cyan;
  text-decoration: none;
}
.link {
  display: inline-block;
  border-bottom: 0.0625em solid $Cyan;
  padding-bottom: 0.2em;

  svg {
    transform: translateY(0.15em);
  }

  &:hover {
    border-bottom: 0.0625em solid $White;
    a,
    #circle {
      color: $White;
    }
    #circle {
      fill: $White;
    }
  }
}
.stayProductive {
  justify-content: space-evenly;
  margin: auto;

  h2 {
    font-size: 2.5em;
    max-width: 9em;
  }
  & > article {
    margin-left: 4em;

    h2 {
      font-size: 2.5em;
    }

    & > p {
      font-size: 0.95em;
      max-width: 30em;
    }
  }
}
.depositions {
  margin: 10em 0;
  position: relative;
  justify-content: space-evenly;

  section {
    &:first-child {
      position: relative;
      &::before {
        content: url("../images/bg-quotes.svg");
        position: absolute;
        left: -1em;
        top: -2.4em;
        width: 3em;
        z-index: -1;
      }
    }

    z-index: 2;
    border-radius: 0.25em;
    background: $DarkBlue4;
    display: inline-block;
    padding: 1em 2em;

    & > p {
      max-width: 21em;
    }

    .person {
      border-radius: 50%;
      width: 2em;
      height: 2em;
      margin-right: 1em;
    }

    h4 + p {
      font-size: 0.7em;
    }
  }
}

aside {
  text-align: center;
  border-radius: 0.4em;
  left: 50%;
  top: -8em;
  transform: translateX(-50%);
  z-index: 2;
  box-shadow: 0.2em 0.1em 0.3em #131925;
  padding: 1em 5em 3em;
  background: #1c2230;
  @include Margin0();

  p {
    @include Margin0();
    font-size: 0.9em;
    max-width: 45em;
    margin-bottom: 2em;
  }
  h2 {
    font-size: 2em;
  }
}
form,
.location {
  align-items: flex-start;
}
form {
  & > article {
    flex-direction: column;
    text-align: left;

    input {
      padding: 1.25em 20em 1.25em 3em;
      color: $DarkBlue3;
      margin-right: 2em;
    }
    span {
      @include Raleway();
      display: none;
      font-size: 0.8em;
      font-weight: 700;
      padding: 0.5em 0 0 2em;
      color: red;
    }
  }
}
footer {
  padding: 12.5em 0 2em;
  background: $DarkBlue3;

  section {
    justify-content: space-around;

    .logo {
      margin-left: 4em;
    }
  }
  .itemsFooter {
    ul {
      padding: 0;
    }
    img {
      margin-right: 1em;
    }
    .descriptionFooter {
      max-width: 21em;
    }
    li:not(:last-child),
    .iconsInfor article:first-child {
      margin-bottom: 1em;
    }
    .iconsInfor + article ul:first-child {
      margin-right: 5em;
    }
    .socialMedia {
      display: inline-block;
      $size: 1em;

      svg {
        fill: white;
        width: $size;
        height: $size;
        padding: 0.5em;
        border-radius: 50%;
        border: 0.0625em solid $White;
      }
    }
  }
}

@media screen and (max-width: 79.375em) {
  .depositions {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 112em) {
  .curvy {
    top: -20em;
  }
  form {
    input {
      padding: 1.25em 20em 1.25em 2em !important;
      margin-right: 2em;
    }
    button {
      text-wrap: nowrap;
    }
  }
}
@media screen and (max-width: 65.75em) {
  .curvy {
    top: -10em;
  }
  .depositions {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 62.5em) {
  aside {
    width: 70%;
    padding: 1em 3em;

    input {
      padding-right: 7em !important;
    }
    button {
      padding: 1em 2em;
    }
  }
}
@media screen and (max-width: 43.75em) {
  .curvy {
    top: -7em;
  }
  .stayProductive {
    flex-direction: column;
    & > article {
      margin: 0;
      font-size: 0.85em;
    }
  }

  header {
    img {
      width: 10em;
    }
    & > nav {
      font-size: 0.75em;
      justify-content: space-evenly;
    }
    & > article {
      font-size: 0.65em;
    }
  }

  .depositions {
    display: grid;
    row-gap: 1em;
  }

  aside {
    font-size: 0.8em;

    form {
      flex-direction: column;

      article {
        margin: 0 auto 0.5em auto;

        input {
          display: block;
          margin: 0;
          padding: 1.25em 2em !important;
        }
      }
      button {
        margin: auto;
      }
    }
  }

  footer {
    img {
      margin-left: 0 !important;
      margin-bottom: 2em;
    }

    & > section {
      display: grid;

      .location {
        margin-bottom: 1em;
      }
      .iconsInfor {
        & > article img {
          margin-bottom: 0;
        }
        margin-bottom: 4em;
      }
      .uls {
        justify-content: left;
        flex-direction: column;

        ul:first-of-type {
          margin-right: 0;
          margin-bottom: 3em;
        }
      }
      .itemsFooter {
        flex-direction: column;
      }
    }
  }
}

@font-face {
  font-family: "Open Sans";
  src: url(OpenSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(OpenSans-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
